// Import Bootstrap
@import "../../node_modules/bootstrap/less/bootstrap";


.date_range_component {
  .pagination_items {
    margin: 0px;
    text-align: left;
  }
}

.enviroment_map {
  height: 400px;
}

.report_menu {
  z-index: 1000001;
}
