<div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Environmental Protection Hack</a>
      </div>
    </div>
  </nav>


  <div class="container">
    <div class="row">
        <div class="jumbotron">
            <map-component></map-component>
        </div>
    </div>

    <div class="row">
      <div class="col-xs-6">
        <h3>Filter By Type</h3>
        <type-button></type-button>
      </div>
      <div class="col-xs-6">
        <h3>Search By Month</h3>
        <date-range></date-range>
      </div>
    </div>
  </div>

</div>
