<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">My Noisy Neighbour</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="" [routerLink]="['Intro']">Presentation</a></li>
            <li><a href="" [routerLink]="['Root']">App</a></li>
            <li><a href="" [routerLink]="['DaysToResolve']">Days To Resolve Visualization</a></li>
            <li><a href="" [routerLink]="['PopRequest']">Pop Request Visualization</a></li>
          </ul>
    </div>
  </div>
</nav>

<div class="row">
    <div class="container intro">
        <h2>Who we are</h2>
        <ul>
            <li>Sam Clift</li>
            <li>Byron Williams</li>
            <li>Phil Knight</li>
        </ul>
        <br />
        <br />
        <h2>Tech we've used</h2>
        <ul>
            <li>CartoDB</li>
            <li>Angular2</li>
            <li>Gulp</li>
        </ul>
        <br />
        <br />
        <h2>What we've done</h2>
        <ol>
            <li>Imported the Environmental Protection JSON Data into CartoDB</li>
            <li>Cartodb SQL for time periods</li>
            <li>Cartodb CSS for colouring data points</li>
            <li>Used Angular2 to create a frontend with Filtering</li>
            <li>Deployed to <a href="http://www.figroll.io">Figroll</a></li>
        </ol>
    </div>

</div>
