<div class="row">
    <div class="container intro">
        <h2>Who we are</h2>
        <ul>
            <li>Sam Clift</li>
            <li>Byron Williams</li>
            <li>Phil Knight</li>
        </ul>
        <br />
        <br />
        <h2>Tech we've used</h2>
        <ul>
            <li>CartoDB</li>
            <li>Angular2</li>
            <li>Gulp</li>
        </ul>
        <br />
        <br />
        <h2>What we've done</h2>
        <ol>
            <li>Imported the Environmental Protection JSON Data into CartoDB</li>
            <li>Cartodb SQL for time periods</li>
            <li>Cartodb CSS for colouring data points</li>
            <li>Used Angular2 to create a frontend with Filtering</li>
            <li>Deployed to <a href="http://www.figroll.io">Figroll</a></li>
        </ol>
    </div>
</div>
